@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<style>
    .active-link {
        background-color: #FF6347; /* Color de tu elección, aquí se usa Tomato */
    }

    .custom-navlink:hover {
        /* color: yellow !important; */
        background-color: #7f70f5 !important;
        color: ghostwhite !important;
    }

    .custom-navlink {
        color: ghostwhite !important;
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        height: 100%; /* Asegura que el contenedor ocupe todo el espacio vertical */
    }
</style>

<MudLayout>
    <MudAppBar Elevation="0" Dense="true">
        <div class="d-flex justify-space-between" style="width: 100%">
            <div>
                <MudHidden Breakpoint="Breakpoint.SmAndUp">
                    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.End" OnClick="@DrawerToggle" />
                </MudHidden>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <MudHidden Breakpoint="Breakpoint.Xs">
                    <MudLink Href="/" Class="custom-navlink" Underline="Underline.None">Home</MudLink>
                    <MudNavLink Href="/" Match="NavLinkMatch.All" IconColor="Color.Secondary" Class="custom-navlink" >
                        Home
                    </MudNavLink>
                    <MudNavLink Href="/proyects" Match="NavLinkMatch.All">Proyects</MudNavLink>
                    <MudNavLink Href="/contact" Match="NavLinkMatch.All">Contact</MudNavLink>
                    <MudNavLink Href="/about" Match="NavLinkMatch.All">About</MudNavLink>
                </MudHidden>
            </div>
            <div></div>
        </div>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Href="https://github.com/Juanjofigue97" />
        <MudIconButton Icon="@Icons.Material.Filled.DynamicForm" Color="Color.Inherit" />
    </MudAppBar>

    <MudDrawer @bind-Open="_drawerOpen" Elevation="2" Color="Color.Default" Breakpoint="Breakpoint.None" Variant="@DrawerVariant.Temporary">
        <MyNavMenu />
    </MudDrawer>

    <!-- Opciones de menú visibles en pantallas medianas y grandes -->
    <MudMainContent>
        <MudPaper MaxWidth="1000px" Style="margin: 0 auto">
            @Body
        </MudPaper>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}
